.box {
    height: 500px;
    width: 800px;
    background: white;
    border-radius: 20px;
    padding: 20px 50px;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #bbb;
        transform: translate(-50%, -50%);
    }
    h1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            justify-self: flex-end;
        }
    }
}
.data_list {
    width: 50%;
    li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            font-weight: 600;
        }
        p {
            font-size: larger;
        }
    }
}
.data_list_fragment{
    display: flex;
    width: 100%;
}